:root
  --background: #F6F8FF
  --color-strong: #222731
  --color-normal: #2B3442
  --color-medium-strong: #4B6A9B
  --color-medium: #697C9A
  --off-white: #FEFEFE

  --white: #FFFFFF
  --blue: #0079FF
  --light-blue: #60ABFF
  --light-grey-blue: #90A4D4

  --font-family: 'Space Mono', monospace

[data-theme='dark']
  --background: #141D2F
  --dark-blue: #1E2A47
  --color-strong: #FFFFFF
  --color-normal: #FFFFFF
  --color-medium-strong: #FFFFFF
  --color-medium: #FFFFFF


body
  font-family: 'Space Mono', monospace
  font-weight: 400
  font-size: 15px
  line-height: 25px
  color: var(--color-normal)

h1
  font-weight: 700
  font-size: 26px
  line-height: 38px
  color: var(--color-normal)

h2
  font-weight: 700
  font-size: 22px
  line-height: 33px
  color: var(--color-normal)

h3
  font-weight: 400
  font-size: 16px
  line-height: 24px
  color: var(--blue)

h4
  font-weight: 400
  font-size: 13px
  line-height: 20px
  color: var(--color-medium-strong)
