@import '../services/responsive'

.container
  display: flex
  justify-content: space-between
  align-items: center
  @include switchByScreenWidth(margin-top, 31px, 140px, 144px)

.title
  color: var(--color-strong)
