@import '../services/responsive'
@import './common/Card.module'

.container
  display: flex
  align-items: center
  @include card
  @include switchByScreenWidth(height, 60px, 60px, 69px)

  & > *
    flex-shrink: 0

  .icon
    fill: var(--color-blue)
    @include switchByScreenWidth(width, 20px, 24px, 24px)
    @include switchByScreenWidth(height, 20px, 24px, 24px)
    @include switchByScreenWidth(margin-left, 16px, 16px, 32px)

  .input
    flex-grow: 1
    width: 0
    @include switchByScreenWidth(margin-left, 9px, 24px, 24px)
    @include switchByScreenWidth(font-size, 13px, 18px, 18px)

  .error
    color: var(--color-red)
    margin-right: 24px

  .button
    background: var(--color-blue)
    border-radius: 10px
    color: var(--color-white)
    cursor: pointer
    @include switchByScreenWidth(width, 84px, 106px, 106px)
    @include switchByScreenWidth(height, 46px, 50px, 50px)
    @include switchByScreenWidth(margin-right, 7px, 10px, 10px)
    @include switchByScreenWidth(font-size, 14px, 16px, 16px)

    &:hover
      background: var(--color-light-blue)
